/* class */
/* html {
  font-size: 14pt !important;
} */
body {
  margin: 0 !important;
  padding: 0 !important;
}
/* header {
  position: relative;
  display: flex;
  justify-content: center;
}
header .navbar {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #ccc;
} */
main {
  margin: 100px;
}
input.cart-input {
  border: 2px solid #a8d182;
}
.container {
  padding: 0;
}
.row {
  max-width: 1170pxt;
}
.step-wrap {
  width: 540px !important;
  height: 81px !important;
  margin: 50px auto !important;
}
.step-wrap img {
  width: 100% !important;
  height: 100% !important;
}
.cart-title {
  padding-left: 30px !important;
}
.cart {
  border: 2px solid #ddead7;
  margin-bottom: 50px !important;
}
.cart-item {
  width: 100% !important;
}
.cart table {
  width: 100% !important;
  text-align: start !important;
}
.cart table tr {
  border-bottom: 5px solid #71a757;
}
.cart-item table th {
  padding: 15px 30px !important;
}
.cart table td {
  padding: 15px 30px !important;
}
.cart-item table img {
  width: 100px !important;
  height: 100px !important;
}
.amount {
  white-space: nowrap !important;
}
.amount .cart-icon {
  width: 25px !important;
  height: 25px !important;
}
.amount .cart-icon:hover {
  cursor: pointer !important;
}
.amount-box {
  display: inline-block !important;
  height: 25px !important;
  width: 100px !important;
  border: 1px solid #ddead7;
  text-align: center !important;
  line-height: 25px !important;
}
.table-text {
  border: 0 solid transparent !important;
  font-size: 12pt !important;
  white-space: nowrap !important;
}
.discount-box {
  display: inline-block !important;
  height: 25px !important;
  width: 150px !important;
  background-color: #ddead7;
  margin: 5px 0 !important;
  text-align: center !important;
  justify-content: center !important;
}
.col-8 {
  padding-left: 0 !important;
}
.col-4 {
  padding-right: 0 !important;
}
.col-7 {
  padding-left: 0 !important;
}
.col-5 {
  padding-right: 0 !important;
}
.table-title {
  margin-top: 5px !important;
  padding-left: 30px !important;
}
.inner {
  width: 100% !important;
  margin: 30px !important;
  padding-bottom: 15px !important;
  padding-right: 60px !important;
  text-align: start !important;
}
.radio-wrap {
  width: 100% !important;
  height: 40px !important;
  margin: 10px 0 !important;
  border: 2px solid #e7e4dc;
  font-weight: 500;
}
.radio-wrap input {
  margin: 0 20px !important;
}
.radio-wrap label {
  margin-bottom: 0 !important;
}
.store-location {
  width: 100px !important;
  height: 30px !important;
  line-height: 0px !important;
  margin: 0 20px !important;
  text-align: center !important;
}
.store-location:hover {
  cursor: pointer !important;
  background-color: #71a757;
}
.btn.cart-btn {
  background-color: #ddead7;
}
.btn.cart-btn:hover {
  background-color: #71a757;
  color: #fff;
}
.cart-list {
  border: 5px solid #a8d182;
  text-align: center !important;
}
.total-wrap {
  font-size: 18pt !important;
}
.cart-dropdown {
  font-size: 14pt !important;
}
.credit-num {
  width: 15% !important;
}
.credit-name {
  width: 40% !important;
}
textarea {
  width: 100% !important;
  resize: none !important;
}
.del-btn {
  width: 75px !important;
  height: 40px !important;
}
.order-list {
  width: 60% !important;
  border: 2px solid #ddead7;
}

.reverse {
  transform: rotate(180deg);
}
.hide {
  display: none;
}

/* id */
#cart-dropdown-arrow {
  width: 15px !important;
  height: 15px !important;
  transition: 0.3s !important;
}
#cart-dropdown-arrow:hover {
  cursor: pointer !important;
}
#order-name {
  width: 20% !important;
}

#order-city {
  width: 15% !important;
}
#order-dist {
  width: 15% !important;
}
#order-port {
  width: 10% !important;
}
#order-addr {
  width: 60% !important;
}
