* {
  bottom: 0px;
  padding: 0px;
}

.title {
  font-size: 15px;
  letter-spacing: 2px;
}
td {
  margin: 5px;

  font-size: 14px;
  letter-spacing: 2px;
}

table {
  text-align: center;
  margin: 0 auto;
}

.imgsrc {
  width: 10em;
}
