.searchInput {
  position: relative;
  left: 100px;
  padding-bottom: 20px;
}

.arInput {
  width: 180px;
  height: 25px;
  border: 2px solid #00273c;
  border-radius: 75px;
  margin-left: 10px;
  padding: 0 10px;
  letter-spacing: 2px;
  font-size: 14px;
}
.arInput:focus {
  outline: none;
  padding: 0 10px;
}

.fas {
  cursor: pointer;
}
