// 網站主要色票

//主要背景色
$aquabackground: #627A86;
// 強調色
$aquacolordenger: #f15a24;
//以下輔色，按深淺排列
$aquacolorone: #a8d182;

$aquacolortwo: #a8d182;

$aquacolorthree: #c4cad1;

$aquacolorfour: #e2e4e8;

$aquafont-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
