* {
  font-family: 'Noto Sans TC', sans-serif;
  box-shadow: #559534 !important;
}
.form-control:focus {
  box-shadow: rgba(0, 89, 83, 0.25) !important ;
}

/* ---------------------------member_navbar通用--------------------------- */
.member_navbar {
  width: 30%;
  /* height: 100vh; */
  /* display: block; */
  padding: 20px 0 0 0;
  /* position: absolute; */
}
.member_navbar a {
  padding-left: 0;
  color: #00273c;
}

.member_navbar a:hover {
  color: #559534;
}

.member_navbar .active {
  padding-left: 0;
  color: #99cb77;
}

.nav-link {
  padding-right: 0;
}

/* ---------------------------member_main通用--------------------------- */
.member_main {
  width: 70%;
  /* height: 80vh; */
  /* display: flex; */
  padding: 20px 0 0 0;
}
.member_main h4 {
  color: #99cb77;
  padding-bottom: 45px;
}

/* ---------------------------aboutMe--------------------------- */
.edit-avatar {
  color: #00273c;
  font-weight: 600;
}
.edit-avatar:hover {
  color: #559534;
}
.mission p {
  color: #627a86;
}
.avatar {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* ---------------------------order--------------------------- */
.right-nav {
  display: flex;
  /* padding-bottom: 20px; */
  border-bottom: 1px #dcd7cc solid;
}
.right-nav-item-l {
  padding: 0 15px 0 0;
  font-size: 18px;
  color: #00273c;
  margin-bottom: 0;
}
.right-nav-item-l:hover {
  color: #559534;
  margin-bottom: 0;
}
.right-nav-item {
  padding: 0 15px;
  font-size: 18px;
  color: #00273c;
  margin-bottom: 0;
}
.right-nav-item:hover {
  color: #559534;
  margin-bottom: 0;
}
.under-line {
  border-bottom: 6px #99cb77 solid;
  padding-bottom: 20px;
  cursor: pointer;
}
.under-line:hover {
  cursor: pointer;
}
.order-info-s-part {
  border-top: 3px #627a86 solid;
  margin-top: 30px;
}
.order-part {
  padding-top: 30px;
}
.order-title {
  font-size: 18px;
  padding-right: 20px;
  font-weight: 600;
}
.odrder-code {
  font-size: 18px;
  color: #627a86;
}
.order-info {
  padding-top: 25px;
}
.order-info a {
  text-decoration: none;
}
.order-info a:hover {
  text-decoration: none;
  color: #ffffff;
}

.order-s-title {
  font-size: 14px;
  font-weight: 600;
}
.order-content p {
  font-size: 18px;
}
.order-btn {
  border: 1px #99cb77 solid;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2px 10px;
  color: #99cb77;
  text-decoration: none;
}
.coupon-get {
  border: 1px #99cb77 solid;
  background-color: #99cb77;
  border-radius: 5px;
  padding: 2px 10px;
  text-decoration: none;
  color: #ffffff;
}
.coupon-get:focus {
  border: 1px #99cb77 solid !important;
  color: #ffffff !important;
  outline: none;
  cursor: not-allowed;
}
.order-btn:hover {
  background-color: #559534;
  color: #ffffff;
  text-decoration: none;
}
.order-btn:active {
  border: 1px #99cb77 solid !important;
  color: #99cb77 !important;
}
.order-btn:visited {
  border: 1px #99cb77 solid !important;
  color: #99cb77 !important;
}
.order-btn:focus {
  border: 1px #99cb77 solid !important;
  color: #99cb77 !important;
  outline: none;
}
/* ---------------------------order detail--------------------------- */
td button {
  color: #99cb77;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}
td button:hover {
  background-color: #559534;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
img {
  object-fit: contain;
}
.orderItemImg {
  width: 50px;
  height: 50px;
  /* margin: 0 auto; */
}
.orderItemImg img {
  width: 100%;
}
/* ---------------------------account setting--------------------------- */
.img-select {
  color: #99cb77;
}
.img-select:hover {
  color: #559534;
  text-decoration: none;
}
.update-img-btn {
  border: 1px #99cb77 solid;
  border-radius: 5px;
  padding: 5px 25px;
  background-color: #ffffff;
  color: #99cb77;
  text-decoration: none;
}
.update-img-btn:hover {
  background-color: #559534;
  color: #ffffff;
  text-decoration: none;
}
.update-img-btn:active {
  color: #99cb77 !important;
  border: 1px #99cb77 solid !important;
}
.update-img-btn:visited {
  color: #99cb77 !important;
  border: 1px #99cb77 solid !important;
}
.update-img-btn:focus {
  color: #99cb77 !important;
  border: 1px #99cb77 solid !important;
  outline: none;
}
.errorinfo {
  color: #ff0000 !important;
}

/* ------------------------------------------------------ */
.aaa {
  align-items: center;
}
/* ---------------------------level--------------------------- */
.level-svg-div-t {
  width: 80px;
  margin: 0 auto;
  padding-top: 20px;
}
.level-svg-t {
  width: 80px;
  height: 80px;
}
.level-word {
  text-align: center;
}
.level-svg-div {
  width: 40px;
  margin: 0 auto;
}
.level-svg {
  width: 40px;
  height: 40px;
}
.level-border {
  border: 1px #99cb77 solid;
  border-radius: 5px;
}

/* ---------------------------coupon--------------------------- */
.coupon-svg-div {
  width: 180px;
  margin: 0 auto;
}
.coupon-svg {
  width: 180px;
  height: auto;
}
/* ---------------------------login--------------------------- */
.register_info:hover {
  color: #559534;
  cursor: pointer;
}
#loginInfo {
  color: red;
}
.login-btn {
  border: 1px #99cb77 solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #99cb77;
  color: #fff;
  text-decoration: none;
}
.login-btn:hover {
  border: 1px #99cb77 solid;
  border-radius: 5px;
  background-color: #99cb77;
  color: #559534;
  text-decoration: none;
}
#registerError {
  color: red;
}
/* ---------------------------硬改--------------------------- */
.login-btn:active {
  border: 1px #99cb77 solid !important;
  background-color: #99cb77 !important;
  box-shadow: #559534 !important;
}
.login-btn:visited {
  border: 1px #99cb77 solid !important;
  background-color: #99cb77 !important;
  box-shadow: #559534 !important;
}
.login-btn:focus {
  border: 1px #99cb77 solid !important;
  background-color: #99cb77 !important;
  box-shadow: #559534 !important;
  outline: none;
}

.btn:focus {
  box-shadow: #559534 !important;
}
.form-con {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-con:focus {
  color: #495057;
  background-color: #fff;
  border-color: #99cb77;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 160, 53, 0.192);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 160, 53, 0.05) !important;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(160, 224, 56, 0.1) inset !important;
  -webkit-text-fill-color: #495057 !important;
}
